@import "./assets/css/fonts.css";
@import "./assets/css/reboot.css";

body {
  max-width: 100%;
  min-height: 100vh;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-image: url("./assets/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #121C1E;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
}

.header {
  min-height: 80px;
  padding: 10px 20px;
  background-color: #121C1E;
}

.container--header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
}

.logo {
  width: 48px;
  height: 60px;
  margin-right: 20px;
}

.logo__img {
  transition: filter 0.3s;
}

.logo:hover .logo__img {
  filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(
    141deg) brightness(89%) contrast(90%);
  transition: filter 0.3s;
}

.site-nav {
  display: flex;
}

.site-nav__item {
  margin-right: 20px;
}

.site-nav__link {
  position: relative;
  padding: 20px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  transition:  color 0.3s;
  cursor: pointer;
}

.site-nav__item:hover .site-nav__link{
  color: #278D9F;
}

.site-nav__link--active::after {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 3px;
  background-color: #278D9F;
  content: "";
}

.selected {
  width: 36px;
  height: 60px;
  background-image: url("./assets/img/selected.svg");
  background-repeat: no-repeat;
  background-position: center 2px;
  background-size: contain;
}

.user-nav {
  display: flex;
  align-items: center;
}

.search {
  margin-right: 40px;
}

.search__input {
  display: block;
  padding: 20px;
  width: 380px;
  height: 40px;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: rgba(31, 112, 127, 0.3);
  background-image: url("./assets/img/search.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 330px center;
  border: 1px solid #278D9F;
  border-radius: 20px;
  outline: none;
}

.search__input::placeholder {
  color: #FFFFFF;
  opacity: 0.75;
}

.search__input:focus-visible,
.search__input:focus {
  background-color: rgba(31, 112, 127, 0.7);
}

.selected {
  position: relative;
}

.selected__count {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  background-color: #278D9F;
  border-radius: 50%;
}

.main {
  padding: 20px;
  min-width: 100%;
  min-height: calc(100vh - 150px);
}

.filters {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  row-gap: 20px;
}

.filters__container {
  width: calc((100% - 40px) / 3);
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(31, 112, 127, 0.3);
  backdrop-filter: blur(6px);
}

.filters__value {
  display: flex;
  align-items: center;
}

.filters__checkboxes-list {
  display: flex;
}

.filters__checkbox {
  appearance: none;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.filters__checkbox--shape {
  margin: 10px 7px;
  width: 40px;
  height: 40px;
}

.filters__checkbox--shape:checked,
.filters__checkbox--size:checked {
  filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%);
}

.filters__checkbox--sphere {
  background-image: url("./assets/img/ball.svg");
}

.filters__checkbox--bell {
  background-image: url("./assets/img/bell.svg");
}

.filters__checkbox--cone {
  background-image: url("./assets/img/cone.svg");
}

.filters__checkbox--snowflake {
  background-image: url("./assets/img/snowflake.svg");
}

.filters__checkbox--figurine {
  background-image: url("./assets/img/toy.svg");
}

.filters__checkbox--color {
  position: relative;
  margin: 10px 15px;
  width: 30px;
  height: 30px;
  border: 1px solid #278D9F;
  border-radius: 5px;
  outline: 0;
}

.filters__checkbox--color:checked::after {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 9px;
  width: 10px;
  height: 17px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.filters__checkbox--white:checked::after {
  border-color: #CAB67C;
}

.filters__checkbox--white {
  background-color: #FFFFFF;
}

.filters__checkbox--yellow {
  background-color: #FDD700;
}

.filters__checkbox--red {
  background-color: #FD0000;
}

.filters__checkbox--blue {
  background-color: #2199EB;
}

.filters__checkbox--green {
  background-color: #08AA05;
}

.filters__checkbox--size {
  margin: 5px;
  width: 50px;
  height: 50px;
  background-image: url("./assets/img/ball.svg");
}

.filters__checkbox--big {
  margin-right: 13px;
}

.filters__checkbox--medium {
  background-size: 40px 40px;
}

.filters__checkbox--small {
  background-size: 30px 30px;
}

.filters__checkbox--favorite {
  position: relative;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  order: 2;
  backdrop-filter: blur(6px);
  border: 1px solid #278D9F;
  border-radius: 5px;
}

.filters__checkbox--favorite:checked {
  background-color: #278D9F;
  border-color: #278D9F;
}

.filters__checkbox--favorite:checked::after {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 9px;
  width: 10px;
  height: 17px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.range-slider--qty,
.range-slider--year {
  position: relative;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.slider__inner {
  position: relative;
  width: 270px;
  height: 6px;
  z-index: 1;
}

.track {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 3px;
  background-color: #FAFAFA;
  z-index: 1;
}

.range {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 3px;
  background-color: #278D9F;
  z-index: 2;
}

.thumb {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid #D9D9D9;
  background: #FFFFFF;
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
  cursor: ew-resize;
  z-index: 2;
}

.thumb.left {
  left: 25%;
  transform: translate(-50%, -8px);
}

.thumb.right {
  right: 25%;
  transform: translate(50%, -8px);
}

.filters__range {
  position: absolute;
  height: 6px;
  width: 270px;
  opacity: 0;
  z-index: 2;
  -webkit-appearance: none;
  pointer-events: none;
}

.filters__range::-webkit-slider-thumb {
  width: 40px;
  height: 40px;
  pointer-events: all;
  cursor: ew-resize;
  -webkit-appearance: none;
  z-index: 3;
}

.output {
  margin: 10px 0;
  width: 70px;
  height: 50px;
  text-align: center;
  font-weight: 500;
  line-height: 50px;
  border-radius: 25px;
  border: 1px solid #278D9F;
  backdrop-filter: blur(6px);
}

.filters__select {
  width: 380px;
  height: 40px;
  padding: 5px 25px;
  margin: 10px 0;
  margin-bottom: 125px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #FFFFFF;
  background-color: rgba(31, 112, 127, 0.3);
  background-image: url("./assets/img/arrow-down.svg");
  background-size: 20px;
  background-position: 340px center;
  background-repeat: no-repeat;
  border-radius: 20px;
  border: 1px solid #278D9F;
  cursor: pointer;
  appearance: none;
  outline: 0;
  backdrop-filter: blur(6px);
}

.filters__select option {
  padding-bottom: 10px;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  background-color: #183E42;
}

.filters__reset {
  height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  color: #FFFFFF;
  background-color: rgba(31, 112, 127, 0.3);
  border-radius: 20px;
  border: 1px solid #278D9F;
  cursor: pointer;
  transition: background 0.3s;
  backdrop-filter: blur(6px);
}

.filters__reset:hover {
  background-color: rgba(31, 112, 127, 0.7);
  transition: background 0.3s;
}

.results__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 304px));
  column-gap: 20px;
  row-gap: 20px;
}

.results__message {
  position: absolute;
  left: 50%;
  padding: 30px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  border: 2px solid #278D9F;
  border-radius: 50px;
  background-color: rgba(31, 112, 127, 0.3);
  transform: translateX(-50%);
  backdrop-filter: blur(6px);
}

.results__item {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  padding: 20px 10px 10px 20px;
  height: 280px;
  border-radius: 10px;
  border: 1px solid #278D9F;
  background-color: rgba(31, 112, 127, 0.3);
  backdrop-filter: blur(6px);
  cursor: pointer;
}

.results__item:hover .toys__ribbon {
  background-color: #CBB77A;
  transition: background 0.3s;
}

.results__item:hover .toys__ribbon::after {
  border-left: 15px solid #CBB77A;
  transition: border 0.3s;
}

.toy__title {
  grid-column: 1 / 3;
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  letter-spacing: -0.15px;
}

.toy__image {
  margin-left: -7px;
  width: 90px;
  height: 112px;
  object-fit: contain;
  pointer-events: none;
}

.toy__description {
  font-size: 16px;
  line-height: 1;
}

.toys__ribbon {
  position: relative;
  bottom: 60px;
  left: -25px;
  width: 80px;
  height: 40px;
  background-color: #24C5DB;
  transition: background 0.3s;
}

.toys__ribbon::after {
  position: absolute;
  width: 0;
  height: 0;
  right: -15px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 15px solid #24C5DB;
  content: "";
  transition: border 0.3s;
}

.toy.is-selected .toys__ribbon {
  background-color: #CBB77A;
}

.toy.is-selected .toys__ribbon::after {
  border-left: 15px solid #CBB77A;
}

.footer {
  padding: 0 20px;
  width: 100%;
  background-color: #121C1E;
}

.container--footer {
  min-height: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
}

.footer__github {
  color: #FFFFFF;
}

.footer__github:hover {
  color: #278D9F;
  transition: color 0.3s;
}

.footer__rss-logo {
  margin-left: auto;
  width: 108px;
  height: 40px;
  background-image: url("./assets/img/rss-logo.svg");
  background-size: cover;
  transition: filter 0.3s;
}

.footer__rss-logo:hover {
  filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(
    141deg) brightness(89%) contrast(90%);
  transition: filter 0.3s;
}

.selected-modal,
.noslots-modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 130;
}

.noslots-modal {
  display: flex;
}

.selected-modal__inner,
.noslots-modal__inner {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  width: 1024px;
  min-height: 200px;
  max-height: 640px;
  background-color: rgba(31, 112, 127, 0.85);
  border-radius: 10px;
  border: 1px solid #278D9F;
  overflow: auto;
}

.noslots-modal__inner {
  height:fit-content
}

.selected-modal__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  color: #FFFFFF;
}

.selected-modal__message-empty{
  font-size: 18px;
}

.no-slots {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.selected-modal__close,
.noslots-modal__close {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 34px;
  height: 34px;
  font-size: 24px;
  line-height: 34px;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
}

.selected-modal__close:hover,
.noslots-modal__close:hover {
  width: 34px;
  height: 34px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}